.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  .main-menu-item {
    text-align: center;
    width: 14.28%;
    margin: 15px 0 20px;
    @media #{$bp-large} {
      width: 28%;
    }
    @media #{$bp-small} {
      width: 50%;
    }
    @media #{$bp-xsmall} {
          width: 100%;
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: #003453;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto 25px;
    }
  }
}