.main-flex {
  display: flex;
  margin-bottom: 60px;
  flex-direction: column;
  @media #{$bp-small} {
    flex-direction: column-reverse;
  }
  .container-fluid {
    width: 100%;
  }
}
.slider {
  position: relative;
  .slide-1 {
    background: url(../img/sl-1.jpg) right center no-repeat;
    background-size: cover; 
    @media #{$bp-small} {
      background: none;
    }
  }
  .container-fluid {
    min-height: 400px;
    position: relative;      
    background-color: #003453;
    @media #{$bp-x-large} {
      padding: 3% 50% 3% 90px;
    }
    @media #{$bp-large} {
      padding: 3% 50% 3% 30px;
    }
    @media #{$bp-medium} {
      min-height: 300px;
    }
    @media #{$bp-small} {
      min-height: 200px;
      text-align: center;
      padding: 25px 30px 50px;
    }
    h1,
    h2,
    .button {
      position: relative;
      z-index: 5;
    }
    h1 {
      font-size: 36px;
      letter-spacing: 3px;
      line-height: 49px;
      font-weight: 400;
      margin: 0;
      @media #{$bp-large} {
        font-size: 30px;
        line-height: 36px;
      }
      @media #{$bp-medium} {
        font-size: 25px;
        line-height: 29px;
        br {display: none;}
      }
      @media #{$bp-small} {
        font-size: 22px;
        line-height: 24px;
      }
    }
    h2 {
      color: #ec6f06;
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
      margin: 10px 0 30px;
      @media #{$bp-blarge} {
        margin-bottom: 10px;
      }
      @media #{$bp-large} {
        font-size: 18px;
        line-height: 23px;
        margin: 10px 0 15px;
      }
      @media #{$bp-medium} {
        font-size: 16px;
        line-height: 21px;
      }
      @media #{$bp-small} {
        font-size: 14px;
        line-height: 18px;
      }
    }
    .button {
      padding: 9px 35px;
      color: white;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 1px;
      background-color: #ec6f06;
      transition: .1s;
      border: none;
      &:hover {
        background: #fff;
        color: #102747;
      }
      @media #{$bp-medium} {
        padding: 5px 20px;
        font-size: 18px;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 25%;
      background: url(../img/slider-after.png) center bottom no-repeat;
      background-size: 100% 100%;
      z-index: 2;
    }
  }

}
.main-flex {
  position: relative;
  z-index: 0;
  @media #{$bp-xx-large} {
    .bx-prev {
      left: 50px !important;
    }

    .bx-next {
      right: 50px !important;
    }
  }
}
